@import "tailwindcss";

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
}

/* Custom Visualizer Animation */
@keyframes music-bar {
  0% {
    height: 10%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 10%;
  }
}

.animate-music-bar {
  animation: music-bar 0.8s ease-in-out infinite;
}

/* Progress Indeterminate */
@keyframes progress {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-progress-indeterminate {
  animation: progress 2s linear infinite;
}

/* Global Reset overrides for pure black theme */
body {
  background-color: #000;
  color: #fff;
}